html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url("../images/login_bg.jpg") no-repeat center;
  background-size: cover;
}
/* 登录和注册模块 */
.loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) 
}
/* 头部图标 */
.title-box {
  height: 60px;
  background: url("../images/login_title.png") no-repeat center;
  
}
.reg-box {
  display: none;
}
.layui-form {
  padding: 0 35px;
}

/* 登录和注册按钮 */
.links {
  float: right;
}
.links a {
  font-size: 12px;
}
/* 输入栏左边小图标 */
.layui-form-item {
  position: relative;
}
.layui-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.layui-input {
  padding-left: 35px;
}










